$breakpoints: (
  tablet: 576px,
  laptop: 992px, // (from laptop to highest top level like desk and much more...)
);




@mixin responsive($key) {
  @if map-has-key($breakpoints, $key) {
    @media screen and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $key) {
      @content;
    }
  }
} 